<div class=" block w-[1090px] h-[700px]  md:max-lg:w-[650px] max-[600px]:w-[400px] p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
<div >
  <img  class="h-48 w-60  right-96 mb-10 mt-10 ml-16 rounded-full object-cover" src="data:image;base64,{{appCMS?.image}}">
</div>
<h2 class="text-3xl font-bold mb-4 pl-16" >{{appCMS?.name}} :<span class="pl-8">{{appCMS?.speciality}}</span> </h2>
<h3 class="text-lg font-semi-bold mb-2 pl-20"> {{appCMS?.contenants}}</h3>
</div>
